@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
